{% extends 'base_accounts.html' %}

{% block title %}Mot de passe modifié{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Changer le mot de passe</a></li>
  <li class="breadcrumb-item active">Success</li>
{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5">
        <div class="col-lg-6 col-md-6 col-sm-8">
          <div class="card">
            <div class="card-body">
                <div class="alert alert-success text-center" role="alert">
                    <strong>Félicitation!</strong> Votre mot de passe à bien été changé!
                </div>
                <div class="text-center">
                    <a href="{% url 'home' %}" class="btn btn-secondary">Retourner sur la page d'accueil</a>
                </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}